<div>
  <app-tag [text]="'<html>'"></app-tag>
  <app-tag class="body" [text]="'<body>'"></app-tag>
</div>
<div id="container">
  <div id="content">
    <h1 [appAnimate]="{name: 'fromLeftFade', delay: 250}">Skills</h1>

    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 500}">
      <span>Passionate</span> with programming from the age of 12 I have
      <span>self-taught</span> languages like HTML5, CSS(Sass), Javascript (TypeScript), Java, Python, C, C++
      and Libraries and Frameworks like <span>Angular</span>, <span>React Native</span> and JavaFX.
    </p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 750}">
      Also, a platform that I have used in most of my projects is <span>Firebase</span>.
      In addition to that I have worked with both SQL and NoSQL databases.
    </p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 1000}">
      From my internship at Endometrix I have learned how a company operates from business decision making
      and prioritization of tasks to designing a UI for a better user experience. Also, due to the small size
      of the team I worked in all aspects of a <span>React Native</span> application. Some of the things I did
      and learned are, working with state management libraries like <span>Redux/Redux-Toolkit</span>,
      working with both <span>bare and managed workflows</span>, implementing recurring push notifications
      and adding error reporting service with Sentry. Also, creating complex UI components that the user
      can interact with was a big part of the internship.
    </p>

  </div>
</div>

<div>
  <app-tag class="body" [text]="'</body>'"></app-tag>
  <app-tag [text]="'</html>'"></app-tag>
</div>
