<div>
  <app-tag [text]="'<html>'"></app-tag>
  <app-tag class="body" [text]="'<body>'"></app-tag>
</div>

<div id="container">
  <div id="content">
    <h1 [appAnimate]="{name: 'fromLeftFade', delay: 250}">About</h1>

    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 750}">My name is George Kotsiopoulos, I am 21 years old and currently living in <span>Stockholm</span>.</p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 1000}">I used to play a lot of video games when I was younger. When I was finishing primary school, I remember I said myself “what should I become when I get older?”. Thankfully, I wasn't good enough at playing video games to become a professional player so my second option was programming.</p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 1250}">Since then I have been exploring the vast world of development. The last 2 years I discovered the fascinating field of <span>Web Development</span>.</p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 1500}">I would characterize myself as a <span>self-taught web developer</span>, <span>programming enthusiast</span>, <span>problem solver</span> and <span>perfectionist</span>.</p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 1750}">Amongst my interests are listening to music, playing tennis and chess.</p>
    <p class="desc" [appAnimate]="{name: 'fromLeftFade', delay: 2000}">
      Currently looking for an interesting position where my skills will be useful.
    </p>

  </div>
</div>
<div>
  <app-tag class="body" [text]="'</body>'"></app-tag>
  <app-tag [text]="'</html>'"></app-tag>
</div>
