:host {
  display: grid;
  height: 100%;
  grid-template-rows: 55px auto 55px;
}

@keyframes fromRight {
  0% {
    left: 50%;
    opacity: 0;
  }
  25% {
    left: 0;
    opacity: 1;
  }
  75% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}
@keyframes fromLeftFade {
  from {
    opacity: 0;
    margin-left: -15%;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container #content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
#container #content h1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--accent);
  font-size: 3rem;
  font-family: var(--primaryFont);
}
#container #content h1::before {
  content: "<h1>";
  color: var(--tagColor);
  font-size: 1rem;
  font-family: var(--secondaryFont);
  font-weight: normal;
}
#container #content h1::after {
  content: "</h1>";
  color: var(--tagColor);
  font-size: 1rem;
  font-family: var(--secondaryFont);
  font-weight: normal;
}
#container #content .desc {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--textWhite);
  font-family: var(--secondaryFont);
  text-align: center;
}
#container #content #form {
  display: grid;
  grid-template-areas: "name email" "subject subject" "message message" "sendButton sendButton";
  grid-gap: 10px;
  width: 100%;
}
#container #content #form app-field {
  background-color: var(--primaryDark);
  height: 40px;
}
#container #content #form app-field:nth-child(1) {
  grid-area: name;
}
#container #content #form app-field:nth-child(2) {
  grid-area: email;
}
#container #content #form app-field:nth-child(3) {
  grid-area: subject;
}
#container #content #form app-field:nth-child(4) {
  grid-area: message;
}
#container #content #form #textarea {
  height: 150px;
}
#container #content #form #sendButtonDiv {
  display: flex;
  justify-content: flex-end;
  grid-area: sendButton;
}
#container #content #form #sendButtonDiv > div {
  position: relative;
  width: 120px;
  height: 40px;
}
#container #content #form #sendButtonDiv > div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  color: green;
  font-family: var(--secondaryFont);
  font-size: 1.1rem;
  opacity: 0;
}
#container #content #form #sendButtonDiv > div span.sent {
  animation-fill-mode: forwards;
  animation-duration: 2000ms;
  animation-name: fromRight;
}
#container #content #form #sendButtonDiv > div button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 15px;
  width: fit-content;
  border: 1px solid var(--accent);
  border-radius: 10px;
  color: var(--accent);
  font-size: 1.1rem;
  font-family: var(--secondaryFont);
  background-color: var(--primaryDark);
  cursor: pointer;
  transition: color 300ms ease, background-color 300ms ease;
}
#container #content #form #sendButtonDiv > div button:hover {
  color: var(--textWhite);
  background-color: var(--accentHover);
}
#container #content #form #sendButtonDiv > div button:disabled {
  color: var(--primaryDarkDisabled);
  background-color: var(--primaryDark);
  border: 1px solid var(--primaryDarkDisabled);
  cursor: default;
}
#container #map {
  width: 80%;
  height: 100%;
  min-height: 500px;
  margin: 20px 10px;
}

@media only screen and (max-width: 600px) {
  #container #content #form {
    grid-template-areas: "name" "email" "subject" "message" "sendButton";
  }
}
@media only screen and (min-width: 1100px) {
  #container {
    flex-direction: row;
  }
  #container #content {
    margin: 0 0 0 10%;
    width: 38%;
  }
  #container #map {
    width: 50%;
  }
}

/*# sourceMappingURL=contact.component.css.map */
